/* Pour les tableaux !!!! */
table{
	border-collapse:collapse;
}
 
section th {
  color:white;
  font-weight: bold;
  background:#E61610;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:1.5em;
  text-align:center;
  vertical-align:middle;
}
 
section th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
section tr {
  border-top: 1px solid #E59D9C;
  border-bottom-: 1px solid #E59D9C;
  color:black;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
section tr:hover td {
  background:#AD0000;
  color:#FFFFFF;
  border-top: 1px solid #E59D9C;
  border-bottom: 1px solid #E59D9C;
}

section tr:last-child {
  border-bottom:none;
}
 
section tr:nth-child(odd) td {
  background:#E2CECE;
}
 
section tr:nth-child(odd):hover td {
  background:#AD0000;
}

section tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
section tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
section td {
  background:#FFFFFF;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}


section tfoot th{
  background-color: white;
  color: #E61610;
}